<a href="https://colab.research.google.com/github/ayub-abdullaev/python_Mastery/blob/main/week_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Mastery

In [ ]:
import requests
response  = requests.get('https://uselessfacts.jsph.pl/random.json?language=en')

print(response.text)

{"id":"d3fb5fe7fc6e7273348f5551920b3ad8","text":"The longest word comprised of one row on the keyboard is: TYPEWRITER","source":"djtech.net","source_url":"http://www.djtech.net/humor/useless_facts.htm","language":"en","permalink":"https://uselessfacts.jsph.pl/api/v2/facts/d3fb5fe7fc6e7273348f5551920b3ad8"}

In [ ]:
queri_parameters={
    'language' : 'en'
}

response = requests.get('https://uselessfacts.jsph.pl/random.json', params=queri_parameters)

print(response.json().get('text'))

The longest place-name still in use is: Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiakitnatahu, a New Zealand hill. Â

# New Section

In [ ]:
import requests
url = 'https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd'
rate = requests.get(url)
print('Status:',response.status_code)

if response.status_code == 200:
  data = response.json()
  print('Bitcoin Price (USD):', data['bitcoin']['usd'])
else:
    print('Erroooor')

Status: 200
Bitcoin Price (USD): 115062

In [ ]:
import requests

url = "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    print("Bitcoin Price (USD):", data["bitcoin"]["usd"])
else:
    print("Error:", response.text)

Bitcoin Price (USD): 115062

In [ ]:
fruits = ['pen', 'pencil', 'book']
print(fruits[1])

pencil

#Data Structures

The important ones are **lists** , **dictionaries**, and **sets**.

In [ ]:
data = ['Me', 'you']
print(data[1])
data.append('she')
data.append('spark')

print(data)

you
['Me', 'you', 'she', 'spark']

#List Slicing

first num - starting position (inclusive)./n
second number - stopping position ( exclusive)./n
third num - step.


---

In [ ]:
data = ['BMW', 'Merc', 'Toyota', 'Ford', 'Volkswagen']

data[0:2:1]

['BMW', 'Merc']

#Dictionaries and Sets

In [ ]:
data = {'BMW', 'Merc', 'Toyota', 'Ford', 'Volkswagen'}
print (data)

data_dictionary = {
    'BMW' : 2016,
    'Merc' : 2018,
    'Toyota' : 2019,
    'Ford' : 2021,
    'Volkswagen' : 2024
}

print(data_dictionary.get('Ford'))

{'Merc', 'Volkswagen', 'Ford', 'Toyota', 'BMW'}
2021

#Control FLow (Loops and Cpnditions)

Iteration - ONe time through the loop

In [ ]:
data = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(10):
  print (i, end = '  ')

print(' ')
for letter in data:
  print(letter, end=' ')

print(' ')
for i, letter in enumerate(data):
  print(i, letter)

0  1  2  3  4  5  6  7  8  9
a b c d e f
0 a
1 b
2 c
3 d
4 e
5 f

In [ ]:
data = ['a', 'b', 'c', 'd', 'e', 'f']

i = 0

while i < len(data):
  print(data[i])
  i+=1

a
b
c
d
e
f

In [ ]:
while  True:
  x = input()
  if x == "Stop":
    print('Nah this can not stop me, try another word buddy')
  if x == "Sorry":
    break

hey
lol
stop
Stop
Nah this can not stop me, try another word buddy
sorry
Sorru
Sorry

In [37]:
data_dictionary = {
    'BMW' : 2016,
    'Merc' : 2018,
    'Toyota' : 2019,
    'Ford' : 2021,
    'Volkswagen' : 2024
}

for car_brand, year in data_dictionary.items():
  print(car_brand, year)

BMW 2016
Merc 2018
Toyota 2019
Ford 2021
Volkswagen 2024

#Guessing Game

Generate a random number -- random module

do while - Python doesn't have this built in.
do something once -- possible repeat it.
Ask for a number. If we get it wrong, ask again.

logic for right/wrong:guessed == correct value

In [ ]:
from random import randint

print('Enter the lowest number')
low = int(input())
high = int(input('Enter the highest number:  '))
tries = 5

while high <= low:
  print(f"PLease enter the higher number than {low}")
  high = int(input('Enter the highest number:  '))
correct = randint(low, high)
print(f'Guess a number between {low}, {high}.')
while tries > 0:
  guess = int(input())
  if guess < correct:
    print('GUess higher!')
    tries -= 1
    print(f"tries left {tries}")
  elif guess > correct:
    print('Guess lower!')
    tries -= 1
    print(f'Tries left: {tries}')
  else:
    print('Yow win')
  if tries == 0:
    print(f'You lost! The correct number was {correct}')
    break

Enter the lowest number
1
Enter the highest number:  10
Guess a number between 1, 10.
5
Guess lower!
Tries left: 4
3
Guess lower!
Tries left: 3
2
Yow win